.Details {
  text-align: left;
  width: 100rem;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(240, 240, 240);
  &__container {
    width: 80rem;
    margin-left: auto;
    margin-right: auto;
  }
  &__title {
    font-size: 4rem;
    padding-top: 2rem;
    font-weight: 500;
  }
  &__platforms {
    margin-left: 2rem;
    font-size: 2rem;
  }
  &__info {
    font-size: 2rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
  }
  &__content {
    display: flex;
    margin-bottom: 2rem;
  }
  &__coverimg {
    width: 20rem;
    height: 20rem;
  }
  &__score {
    font-size: 2rem;
    width: 15rem;
    text-align: center;
    background-color: black;
    color: white;
    padding: 1rem;
    height: 5.5rem;
    margin-left: 4rem;
    margin-right: 25rem;
    border-radius: 2px;
  }
  &__price {
    background-color: $color-black;
    color: $color-grey;
    height: 4rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 2px;
  }
  &__addToCart {
    display: flex;
    border-radius: 2px;
    &--view {
      height: 4rem;
      color: white;
      padding: 0.5rem 1rem;
      width: 11.5rem;
      background: linear-gradient(to right, $color-blue-1, $color-blue-2);
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      border-radius: 2px;
    }
    &--add {
      height: 4rem;
      color: white;
      padding: 0.5rem 1rem;
      width: 11.5rem;
      background: linear-gradient(
        to bottom,
        $color-score-green,
        $color-score-green-dark
      );
      cursor: pointer;
    }
  }
  &__summary {
    margin-left: 2rem;
    margin-bottom: 4rem;
    &--label {
      font-size: 2.4rem;
      font-weight: 500;
    }
  }
  &__fullsize {
    width: 80rem;
    margin-bottom: 4rem;
  }
}
