.Navigation {
    background: linear-gradient(to right bottom, rgb(24,24,24), rgb(34,34,34));
    
    height: 6rem;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    width: 100rem; 
    margin-left:auto;
    margin-right:auto;
    padding: 0px 12rem;
    
    &__item {
        color: #fff;
        text-decoration: none;
        line-height: 4rem;
        font-size: 2rem;
        text-transform: uppercase;
        margin-right: 4rem;
        text-shadow: 0 1px 2px rgba(3, 3, 3, 0.7); 
        cursor: pointer;
        text-shadow: 3px 3px rgba($color-black, .9);
        
        &--active {
            font-weight: 700;
        }
    }

  &__search {
      margin:.5rem;
      
  }
  &__icon {
      margin-left:.5rem;
  }
}

    

.dropbtn {
    background-color: #1d1d1d;
    color: white;

    border: none;
    cursor: pointer;
}


.dropdown {
    position: relative;
    display: inline-block;
    padding-top: .2rem;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px .5rem 1rem 0px rgba(40,40,40,0.2);
    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    
    display: block;
}


.dropdown-content a:hover {
    background-color: #f1f1f1
}


.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown:hover .dropbtn {
    
}

.dropdown-selection {
    cursor: pointer;
}
.dropdown-selection:hover {
    background-color: rgb(180,180,180);
}

