.header {
    background-color: #030303; 
    width:100%;
    
    
    &__banner {
        height: 8rem;
        color: #fff;
        font-size: 6rem;
        margin: 0 5%;
        line-height: 6rem; 
        text-align: center;
    }
    &__cart {
        color: white;
    }
}
    