.App {
  text-align: center;
  // background: linear-gradient(to bottom, $color-blue-1, $color-blue-2);
  background-color: rgb(37, 37, 37);

  height: 100vh;
  height: 100%;
}

// $color-grey-darkest: rgb(22,22,22);
// $color-grey-dark: rgb(22,22,22);
// $color-grey-medium: rgba(67,67,67,1);
// $color-grey: rgb(120,120,120);
// $color-grey-lightest: rgb(234,237,242);
